<h1>Workouts</h1>


<p>{{results}}</p>



<div id="table">
	<table>
		{{table}}
	</table>
</div>

<!-- 
<table>
	<tr>
		<th>Name</th>
		<th>Reps</th>
		<th>Weight</th>
		<th>Date</th>
	</tr>
</table>


<form id="addRow"> 
	<fieldset>
		<legend>Add new excercise</legend>
		<label>Exercise Name<input type="text" name="name" id="name" size="20"></label>
		<label>No. Of Reps<input type="text" name="reps" id="reps" size="4"></label>
		<label>Weight<input type="text" name="Weight" id="weight" size="4"></label>
		<label>Lbs<input type="radio" name="lbs" id="lbs" value="1"></label>
		<label>Kgs<input type="radio" name="lbs" id="kgs" value="0"></label>
		<label>Date<input type="date" name="date" id="date"></label>
	</fieldset>
</form> -->